---
import CardContent from './CardContent.astro';
import { Card as ReactCard } from './react/ReactCard';
// import { SquareArrowOutUpRight } from 'lucide-react';

interface Props {
    title?: string;
    body?: string;
    colSpan?: string;
    rowSpan?: string;
    href?: string;
    colorText?: string;
}

const { title, body, colSpan, rowSpan, href, colorText } = Astro.props;
---

<!-- className={
    `card-animate transform-y-[-40%] align-start perspective-1200 group group relative col-span-1 h-auto w-full flex-none transform justify-start overflow-hidden p-6 shadow-lg transition duration-75 ease-in-out ${
        colSpan || 'md:col-span-2'
    } ${rowSpan || ''} ${href ? 'cursor-pointer hover:border-primary' : ''}` }
     -->
<ReactCard
    className={`border-t border-neutral-700 rounded-xl bg-neutral-800 p-2 shadow-sm shadow-black group transform-y-[-40%] align-start relative col-span-1 h-auto w-full flex-none transform justify-start overflow-hidden  transition duration-75 ease-in-out ${
        colSpan || 'md:col-span-2'
    } ${rowSpan || ''} ${href ? 'cursor-pointer hover:border-primary' : ''}`}
>
    {
        href ? (
            <a href={href} class={`block h-full w-full ${colorText || ' '}`}>
                {/* <SquareArrowOutUpRight
                    className='group-hover:text-primary position absolute right-6 '
                    size={20}
                /> */}
                <CardContent title={title} body={body}>
                    <slot />
                </CardContent>
            </a>
        ) : (
            <CardContent title={title} body={body}>
                <slot />
            </CardContent>
        )
    }
</ReactCard>
