---
import { cn } from '@/utils';
import CardContent from './CardContent.astro';
import { Card as ReactCard } from './react/ReactCard';
// import { SquareArrowOutUpRight } from 'lucide-react';

interface Props {
    title?: string;
    body?: string;
    href?: string;
    colorText?: string;
    classname?: string;
}

const { title, body, href, colorText, classname } = Astro.props;
---

<ReactCard
    className={cn(
        `border-t border-neutral-700 rounded-xl bg-neutral-800 p-2 shadow-sm shadow-black  transform-y-[-40%] align-start relative col-span-1 h-auto w-full flex-none transform justify-start overflow-hidden  transition duration-75 ease-in-out',
    ${href ? 'cursor-pointer hover:border-primary' : ''}`,
        classname
    )}
>
    {
        href ? (
            <a href={href} class={`block h-full w-full ${colorText || ' '}`}>
                {/* <SquareArrowOutUpRight
                    className='-hover:text-primary position absolute right-6 '
                    size={20}
                /> */}
                <CardContent title={title} body={body}>
                    <slot />
                </CardContent>
            </a>
        ) : (
            <CardContent title={title} body={body}>
                <slot />
            </CardContent>
        )
    }
</ReactCard>
